.aboutMe {
    margin: 10rem auto 0 auto;
    width: 80%;
    color: #D4D5D5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.aboutMe h6 {
    font-size: 1.5rem;
    font-weight: 700;
}
.aboutMe h3 {
    font-size: 2rem;
    font-weight: 700;
}
.aboutMe p {
    margin: 1rem 0;
    font-size: 1rem;
}
.aboutMe .leftSection {
    width: 50%;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.aboutMe .rightSection {
    width: 50%;
    margin-left: 2rem;
}
.leftSection img {
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    width: 22rem;
}

.buttonDesign {
    display: inline-block;
    margin: 0 5px;
    height: 3rem;
    width: 15rem;
    background: linear-gradient(to right, rgb(0, 60, 255), rgb(0, 0, 0));
    /* background: linear-gradient(to right, #03b8fa, #135ef3); */
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 0.3rem;
    position: relative;
    transition: .5s;
    z-index: 9;
    overflow: hidden;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDesign:before {
    position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -28%;
    width: 0%;
    background: white;
    /* background: rgb(122, 122, 122); */
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: -1;
}
.buttonDesign:hover {
    color: #093999;
}
.buttonDesign:hover::before {
    width: 180%;
}
.box {
    align-self: flex-end;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background: rgb(16,111,244);
    background: linear-gradient(0deg, rgba(16,111,244,1) 0%, rgb(57, 66, 69) 100%);
    height: 7rem;
    transform-origin: bottom;
    width: 9rem;
    z-index: 0;
    position: relative;
    top: -3rem;
    right: 10vmin;
    border-radius: 0.3rem;
}
.bounce1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}

@media (max-width: 1290px) {
    .box {
        right: 2vmin;
    }
}
@media (max-width: 1100px) {
    .box {
        right: -4vmin;
    }
}
@media (max-width: 800px) {
    .aboutMe {
        flex-direction: column;
        align-items: center;
    }
    .aboutMe .leftSection {
        width: 80%;
    }
    .aboutMe .rightSection {
        width: 100%;
    }
}
