.internalSkills {
  margin: 10rem auto 0 auto;
  width: 100%;
  color: #d4d5d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141b25b9;
  position: relative;
  z-index: 1;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url("../../assets/skills.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: 1;
  }

  .headerSection {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
    color: white;
    font-weight: 700;
    padding-left: 1.5rem;
    font-size: 3rem;

    h3 {
      font-family: Basis;
    }
  }

  .skillsSection {
    width: 85%;
    height: auto;
    background-color: #141b25b9;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 5rem 0 5rem 0;
    border-radius: 1rem;
    box-shadow: 1px 3px 35px 6px #000000;

    .skillContainer {
      width: 45%;
      height: 33.3%;
      display: flex;
      padding: 2rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h3 {
        font-size: 1rem;
        font-weight: 700;
        font-family: Lotion;
      }

      .progressBar {
        width: 100%;
        height: 1.3rem;
        background-color: black;
        margin-top: 1rem;
        border-radius: 1rem;

        .progressLine {
          height: 100%;
          border-radius: 1rem 0 0 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          font-weight: 700;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .skillsSection {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .skillContainer {
        width: 90%;
      }
    }
  }

  @media (max-width: 500px) {
    .headerSection h3 {
      font-size: 1.5rem;
    }
  }
}
