.card {
    background-color: #0E1419;
    width: 50rem;
    height: 4rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin: 0.8rem;
    position: relative;
}
.cardNegative {
    border: 0.15rem solid #BC1233;
    -webkit-box-shadow: -1px 10px 16px 0px #bc123462; 
    box-shadow: -1px 10px 16px 0px #bc123462;
}
.cardPositive {
    border: 0.15rem solid #09a009;
    -webkit-box-shadow: -1px 10px 16px 0px #09a00957; 
    box-shadow: -1px 10px 16px 0px #09a00957;
}
.movementIconNegative {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BC1233;
}
.movementIconPositive {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #09a009;
}
h1{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
}